#sideBarBox {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   height: 100vh;
   width: 265px;
   transform: translateX(0%);
   transition: all 0.4s linear;
}
#sideBarBox.collapsed {
   transform: translateX(-100%);
}

.menuBox {
   padding: 20px;
}

.logo{
   object-fit: contain;
   padding: 5px;
}

.navLink {
   text-decoration: none;
   margin-bottom: 15px;
   font-size: 18px;
   color: var(--main-dark);
   font-weight: 500;
}
.navLink:hover {
   color: var(--main-color);
}

.accordion-button {
   padding: 0 !important;
   font-size: 18px;
   color: var(--main-dark);
   font-weight: 500;
   border: 0 !important;
   background-color: transparent !important;
}
.accordion-button:hover {
   color: var(--main-color);
}
.accordion-button:focus {
   box-shadow: none;
   background-color: transparent;
}
.accordion-button:not(.collapsed) {
   box-shadow: none;
   background-color: transparent;
}
.accordion-item {
   border: none;
}
.accordion-button::after {
   display: none;
}

.accordion-body a {
   color: var(--main-dark);
   text-decoration: none;
   margin-bottom: 10px;
   font-weight: 500;
}
